html, body{
    background-color: #19bc9d;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #6b65e6;
    text-align: center;
    margin: 0px;
    padding: 20px;
    border: 2px solid black;
    font-size: 60px;
}

button {
    font-size: 55px;
    background-color: #938eed;
    font-weight: 900;
    border: solid;
    box-shadow: 2px 3px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.choices {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}